@media only screen and (max-width: 1000px) {


    body {
        overflow-x: hidden;
        text-align: center;
        justify-content: center;
    }


    header {
        display: center;
        justify-content: space-between;

    }

    main {

        display: flex;
        text-align: center;
        justify-content: center;

    }

    h2 {
        font-size: 38px;
        overflow-x: hidden;
    }

    form {
        margin: 0 auto;
        overflow-x: hidden;
    }

    input {
        align-self: center;
        width: 70%;
        overflow-x: hidden;
    }

    .image1 {
        text-align: center;
        width: 500px;
        display: none;
        overflow-x: hidden;
    }

    #test-cto {
        display: none;
    }

    .container {
        text-align: center;
        display: inline-table;
    }

    #buttom-contact {
        text-align: center;
        width: 350px;
    }

    .container .card {
        position: relative;
        padding: 10px;
        width: 300px;
        background-color: rgb(242, 228, 237);
        margin: 30px;
        border: 1px solid black;
        border-radius: 100px;
        overflow: hidden;
        transition: 0.5s;
        text-align: center;

    }

    #contato {
        text-align: center;
        justify-content: center;
    }

    footer {
        text-align: center;
    }

    .color-line1-h2 {
        height: 30px;
        text-align: center;
        padding: 15px;
    }

    .mf-dev-h2 {
        height: 20px;
        text-align: center;
        padding: 15px;

    }



    @media only screen and (max-width: 800px) {


        header {
            justify-content: space-between;

        }


        .color-line1-h2 {
            height: 10px;
            text-align: center;
            padding: 10px;
        }

        .mf-dev-h2 {
            height: 15px;
            text-align: center;
            padding: 10px;

        }

        #buttom-account {
            border: 1px solid rgb(132, 14, 201);
            padding: 5px;
            border-radius: 100px;
            display: none;
        }

        #buttom-account:hover {
            background-color: rgb(132, 14, 201);
            color: white
        }
    }

}
@media only screen and (max-width: 700px) {

    header {
        justify-content: space-between;

    }


    .color-line1-h2 {
        height: 20px;
        text-align: center;
        padding: 15px;
    }

    .mf-dev-h2 {
        height: 15px;
        text-align: center;
        padding: 15px;

    }

}

@media only screen and (max-width: 500px){
          
         header{
             align-items: center;
             justify-content: center;

         }
     
    ul{
        display: grid;
        text-align: center;
        padding: 10px;
    }
}