body{
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#title{
    flex-direction: column;
    text-align: center;
    line-height: 5px;
    padding: 20px;
    

}

#title:hover{
    color: rgb(132, 14, 201);
}

li{
    display: inline-block;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 20px;
    padding: 10px;
}

.nav-bar{
    color: white;
    text-align: center;
    padding: 10px;
}

.nav-bar:hover{
    color: rgb(132, 14, 201);
    transition: 0.3s all;
}

#buttom-account{
        border: 2px solid rgb(132, 14, 201);
        padding: 10px;
        border-radius: 15px;
}

#buttom-account:hover{
    background-color:rgb(132, 14, 201);
    color: white
}

h1{
    font-weight: 200;
    
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;

}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}

.color-line1-h2{
    color: rgb(132, 14, 201);
}

.paragrafo{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

.paragrafo2{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

.paragrafo3{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

.image1{
    width: 580px;
    
}



form{
    display: flex;
    flex-direction: column;
    width: 0%;
}

#buttom-contact{
    height: 50px;
    width: 50%;
    background-color: rgb(132, 14, 201);
    color: white;
    font-weight: bold;
}

#buttom-contact:hover{
     cursor: pointer;
}

.input-buttom{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

.perfil-center{
    text-align: center;

}

.color-mf{
    color: rgb(132, 14, 201);
}

.footer-image1{
    width: 40px;
    height: 40px;
}

footer{
    display: flex;
    justify-content: center;
}

.color-footer{
    color: rgb(132, 14, 201);

}



footer a{
    margin: 20px;
    text-align: center;
    text-decoration: none;
}

footer p{
    margin-top: 2px;
}

.sobremim{
    padding: 100px;
    text-align: center;
    justify-content: center;
}


.paragrafo2{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

.paragrafo3{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

.color-line1-h2::after{   
        content: '';
        margin-left: 5px;
        opacity: 1;
        animation: pisca .7s infinite;
}
paragrafo

.paragrafo:after{   
    content: '';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}