@media screen and (max-width: 800px){
    
     header{
         flex-direction: column;
     }

     main{
         flex-direction: column;
     }

     h2{
         font-size: 38px;
     }

     form{
         margin: 0 auto;
     }

     input{
         align-self: center;
         width: 70%;
     }

     #image1{
         width: none;
     }


}